<form action="/answer" data-turbo="false" class="row g-3 align-items-center mt-3">
  <p>Ask anything you want to your coach :</p>
  <div class="col-9">
    <input type="text" name="question" class="form-control string required" autocomplete="off" />
  </div>
  <div class="col-3">
    <input type="submit" value="Ask!" class="btn btn-primary w-100" />
  </div>
</form>